body {
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/11145014-fumaca-colorida-isolada-no-fundo-branco-gratis-foto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    height: 150%;
    
}

.cabecero {
    margin-top: 100px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "Cormorant Garamond", serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 4px 4px 4px #aaa;
}

div {
    text-align: center;
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    color: black;
    text-shadow: 4px 4px 4px #aaa;;


}

.btn {
    border-radius: 50px;
    margin-top: 320px;
    background-color: black;
    color: azure;
    text-align: center;
    border: none;
    font-size: 20px;
    margin-bottom: 90px;
}

